body { color:#D7C98E ; background:#282828; font-family:Verdana, Arial; font-size:12pt; }
p { margin:0.6em 0 0.6em 0; }
.esp { clear:both; }
.espb { clear:both; height:3em; }
.espc { clear:both; height:1em; }
.espd { clear:both; height:2em; }
.esps { padding-left:1.5em; }
a { color:#330066; text-decoration:underline; }
.bf, .bf:hover, .bf:visited { cursor:pointer; font-size:0.75em; color:#666666; margin:0 0.9em 0.3em 0.9em; }

.eff { background:url("./effacer.png") center right no-repeat; padding-right:1.25em; cursor:pointer; width:24px; height:16px; border-width:0 0 0 0; }
textarea { font-family:Arial; color:#5B5B5B; font-size:1em; }
input { font-family:Arial; color:#5B5B5B; font-size:1em; }
.lb { color:#0000DD; font-family:Arial; font-size:0.9em; background-color:#E8E8FF; cursor:pointer; line-height:2.2em; margin-right:0.2em; padding:0.1em 0.4em 0.2em 0.4em; border-bottom:1px solid #330066; border-right:1px solid #330066; }
a.lb { text-decoration:none; }

.delc { position:absolute; left:2%; }
.center { text-align:center; }

.as {display:inline-block; padding-bottom:1em; text-align:center; font-family:Arial; }
.as p{ margin: 0.15em 0 0.15em 0; color:#E0E0E0}

.rtl {direction:rtl; }

/* mobile */
@media screen and (max-width:960px) { 
.esps { padding-left:1em; }
}